{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Name
          </dt>
          <dd class="app-check-your-answers__answer">
            Sarah Philips
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

      </dl>


      <h2 class="govuk-heading-m">
        Application details
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Contract length
          </dt>
          <dd class="app-check-your-answers__answer">
            2 years
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> contract length</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Contract pricing methods
          </dt>
          <dd class="app-check-your-answers__answer">
            Fixed price
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> contract pricing methods</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Description
          </dt>
          <dd class="app-check-your-answers__answer">
            
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> description</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">Send brief to shortlist of suppliers</h2>

      <p>
       This will send the brief to HR consultancy suppliers specialised in culture change.
      </p>

      <a class="govuk-button" href="your-responses" role="button">
        Confirm and send brief to suppliers
      </a>

    </div>
  </div>
{% endblock %}
